node_modules
.vscode-test/
*.vsix
dist
maximo.log
src/.DS_Store

.DS_Store

.devtools-config.json
.github/

.vscode/mcp.json

java/src/main/resources/autoscript-debug-version.txt

java/.jython_cache/

mcp/keys
mcp/index.js
mcp/style.md
templates/encrypted-index.js

templates/encrypted-style.md
