.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/*.map
**/.eslintrc.json
.vscode
node_modules
out/
src/
test/
java/**
tsconfig.json
webpack.config.js
resources/.vscode/**
resources/.git/**
resources/.gitignore
.gitmodules
azure-pipelines.yml

